<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Pytangular examples</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href="xeditable.css" rel="stylesheet">
		<style>
			.container {
				width: 50em;
				display: inline-block;
				vertical-align: top;
			}
			.menuContainer {
				width: 20em;
				display: inline-block;
				vertical-align: top;
			}
			.menuContainer > p {
				cursor: pointer;
			}
			div[ng-app] { margin: 10px; }
			form[name="aForm"] > div {
			  height: auto;
			  padding: 5px 0;
			}

			form[name="aForm"] .title {
			  display: inline-block;
			  font-weight: bold;
			  padding-top: 5px;
			  vertical-align: top;
			  min-width: 90px;
			}

			form[name="aForm"] .editable {
			  display: inline-block;
			  padding-top: 5px;
			  vertical-align: top;
			}

			form[name="aForm"] select {
			  width: 120px;
			}
			div[ng-app] {
				margin: 50px;
			}
			td {
				padding: 1em;
			}
		</style>
	</head>
	<body>
		<div ng-app="dvApp" ng-controller="personController">
			<h1>Pytangular examples</h1>
			<div class="menuContainer">
				<p>Choose a pytangular demonstration:</p>
				<p><a ng-click="toggleMenu('aForm')">Simple form</a></p>
				<p><a ng-click="toggleMenu('aEdit')">Xeditable form</a></p>
				<p><a ng-click="toggleMenu('bForm')">Simple templated form</a></p>
				<p><a ng-click="toggleMenu('bEdit')">Xeditable templated form</a></p>
			</div>
			<div class="container">
				<div ng-if="selected=='aForm'">
					<pytangular formspec="simpleForm"
								model="pytangular"
								>
					</pytangular>
				</div>
				<div ng-if="selected=='aEdit'">
					<pytangular formspec="xeditableForm"
								xeditable="true"
								apply_defaults=true
								model="pytangular"
								values="values">
					</pytangular>
				</div>
				<div ng-if="selected=='bForm'">
					<pytangular formspec="templatedSimpleForm"
								xeditable="false"
								apply_defaults=true
								model="pytangular"
								values="values">
					</pytangular>
				</div>
				<div ng-if="selected=='bEdit'">
					<pytangular formspec="templatedXeditableForm"
								xeditable="true"
								apply_defaults=true
								model="pytangular"
								values="values">
					</pytangular>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
		<script src="xeditable.min.js"></script>
		<script>
			'use strict';
			var dvApp = angular.module("dvApp", ['xeditable', 'ui.bootstrap', 'ui.bootstrap.popover']);
			dvApp.run(function(editableOptions) {
				editableOptions.theme = 'bs3'; // bootstrap3 theme. Can be also 'bs2', 'default'
			});
		</script>
		<script src="pytangular.js"></script>
		<script>
		'use strict';
		dvApp.controller('personController', function ($scope, $filter) {
			$scope.toggleMenu = function (selected) {
				$scope.selected = selected;
			}

			// Define fields for all example forms
			var personDataFields = [
				{
					widget: 'text',
					label: 'Name',
					name: 'name',
					model: 'name',
					default: 'Igor',
					popover: {msg: 'Type your name here!', placement: 'top'},
					input_attrs: {
						'title': 'This is a title on field and label',
						'data-test': 'test',
						'style': 'width: 20em;',
					}
				},
				{
					widget: 'tel',
					label: 'Fone',
					name: 'fone',
					model: 'fone',
					default: '5585-4455',
					popover: {msg: 'Type your fone', placement: 'bottom'},
					input_attrs:{
						'data-test': 'test',
						'style': 'width: 12em;',
						'required': 'required',
					}
				},
				{
					widget: 'number',
					label: 'Age',
					name: 'age',
					model: 'age',
					popover: {msg: 'Type your age', placement: 'right'},
					input_attrs: {
						'data-test': 'test',
						'data-ng-teste2': 'outro-teste',
						'style': 'width: 4em;',
					},
				},
				{
					widget: 'email',
					label: 'E-mail',
					name: 'email',
					model: 'email',
					helpText: 'Type your e-mail',
					input_attrs: {
						'style': 'width: 14em;',
					},
				},
				{
					widget: 'password',
					label: 'Password',
					name: 'pwd',
					model: 'pwd',
					helpText: 'Mix numbers and letters',
					input_attrs: {
						'style': 'width: 10em;',
					},
				},
				{
					widget: 'select',
					label: 'Kind',
					name: 'kind',
					model: 'kind',
					default: 'Girl',
					options: [
						{ value: 'Boy', label: 'Male'},
						{ value: 'Girl', label: 'Female'},
						{ value: 'LOL!', label: 'Both'},
					],
					helpText: 'Your gender',
					input_attrs: {
						'required': 'required',
						'style': 'width: 8em;',
					},
				},
				{
					widget: 'textarea',
					label: 'Message',
					name: 'msg',
					model: 'msg',
					popover: {msg: 'A message, not a book!', placement: 'top'},
					input_attrs:{
						'cols': '50',
						'rows': '5',
					},
				},
				{
					widget: 'checkbox',
					label: 'Like this?',
					name: 'like1',
					model: 'like1',
					title: '',
				},
				{
					widget: 'checkbox',
					label: 'Really like this?',
					name: 'like2',
					model: 'like2',
					'true-value': 'Yes',
					'false-value': 'No',
					title: '',
				},
				{
					widget: 'typeahead',
					label: 'Favorite color',
					name: 'color',
					model: 'color',
					popover: {msg: 'This is a typeahead field!', trigger:'focus', placement: 'top'},
					options: [
						'Blue',
						'Aqua',
						'Brown',
						'Cian',
						'Yellow',
						'Black',
					],
					input_attrs:{
						'title': 'ui.bootstrap typeahead',
					},
				},
				{
					widget: 'time',
					label: 'Local time',
					name: 'arrival-time',
					model: 'time',
				},
				{
					widget: 'date',
					label: 'Local date',
					name: 'date',
					model: 'date',
				},
			];

			// Define fields for all example forms
			var creditCardFields = [
				{
					widget: 'text',
					label: 'Credit card number',
					name: 'card',
					model: 'card',
					input_attrs: {
						'data-test': 'test',
						'style': 'width: 20em;',
					}
				},
				{
					widget: 'text',
					label: '3 digits security code',
					name: 'code',
					model: 'code',
					input_attrs: {
						'data-test': 'test',
						'style': 'width: 4em;',
					}
				},
			];

			// Templates for simple and xeditable forms
			// Template for each fields of this fieldSet
			var templateFieldsetPersonDataFields = '<table>' +
							'<tr>' +
								'<td>add(name)</td><td>add(fone)</td>' +
							'</tr>' +
							'<tr>' +
								'<td>add(email)</td><td>add(pwd)</td>' +
							'</tr>' +
							'<tr>' +
								'<td>add(color)</td><td>add(age)</td>' +
							'</tr>' +
							'<tr>' +
								'<td>add(kind)</td>' +
							'</tr>' +
							'<tr>' +
								'<td colspan="2">add(msg)</td>' +
							'</tr>' +
							'<tr>' +
								'<td><div>add(like1)</div><div>add(like2)</div></td><td></td>' +
							'</tr>' +
						'</table>';
			// Template for each fields of this fieldSet
			var templateFieldsetCreditCardFields = '<table>' +
										'<tr>' +
											'<td>add(card)</td><td>add(code)</td>' +
										'</tr>' +
									'</table>';

			// Template for positon of each fieldSet
			var fieldSetsTemplate = '<div>add(0)</div><div>add(1)</div>';

			// Buttons for simple and xeditable forms
			var buttons = [
				{
					action: 'submitForm',
					type: 'submit',
					class: 'btn-primary',
					icon: 'save',
					label: 'Save',
				},
				{
					type: 'reset',
					class: 'btn-danger',
					icon: 'remove-sign',
					label: 'Remove',
				},
				{
					class: 'btn-success',
					icon: 'plus-sign',
					label: 'Add',
					attrs: {'ng-click': 'callMe()'},
				},
				{
					icon: 'remove-sign',
					label: 'Cancel',
					cancel: true,
				},

			];

			// Define a simple form
			$scope.simpleForm = {
				name: 'aForm',
				fnSubmit: 'callMe()',
				fieldsets: [
					{
						fields: personDataFields, legend: 'Simple web form'
					},
					{
						fields: creditCardFields, legend: 'Payment information'
					},
				],
				buttons: buttons,
			};

			// Define an Xeditable form
			$scope.xeditableForm = {
				name: 'bForm',
				fnSubmit: 'callMe()',
				fieldsets: [
					{
						fields: personDataFields, legend: 'Xeditable web form'
					},
					{
						fields: creditCardFields, legend: 'Payment information'
					}
				],
				buttons: buttons,
			};

			// Define a simple form with two templates, one to positon fildsets
			// and other to all individual fields of the fieldset
			$scope.templatedSimpleForm = {
				fieldsTemplate: {
					'0': templateFieldsetPersonDataFields,
					'1': templateFieldsetCreditCardFields,
				},
				fieldSetsTemplate: fieldSetsTemplate,
				name: 'dForm',
				fnSubmit: 'callMe()',
				fieldsets: [
					{
						fields: personDataFields, legend: 'Templated web form'
					},
					{
						fields: creditCardFields, legend: 'Payment information'
					}
				],
				buttons: [
					{
						class: 'btn-success',
						icon: 'plus-sign',
						label: 'Add',
						attrs: {'ng-click': 'callMe()'},
					},
					{
						icon: 'remove-sign',
						label: 'Cancel',
						cancel: true,
					},
				],
			};

			// Define an Xeditable form with two templates, one to positon fildsets
			// and other to all individual fields of the fieldset
			$scope.templatedXeditableForm = {
				fieldsTemplate: {
					'0': templateFieldsetPersonDataFields,
					'1': templateFieldsetCreditCardFields,
				},
				fieldSetsTemplate: fieldSetsTemplate,
				name: 'cForm',
				fnSubmit: 'call()',
				fieldsets: [
					{
						fields: personDataFields, legend: 'Templated xeditable web form'
					},
					{
						fields: creditCardFields, legend: 'Payment information'
					}
				],
				buttons: [
					{
						action: 'formSubmit()',
						class: 'btn-success',
						icon: 'plus-sign',
						label: 'Add',
						attrs: {'ng-click': 'callMe()'},
					},
					{
						icon: 'remove-sign',
						label: 'Cancel',
						cancel: true,
					},

				],
			};

			// Page model thats hold all form data information
			$scope.pytangular = {};

			// Initial values to be used with the forms
			$scope.values = {
				name: 'John Doe',
				fone: '5544-1234',
				age: 35,
				email: 'john@gmail.com',
				pwd: 'bruhaha',
				kind: 'Boy',
				msg: "This is John Doe's message!",
				like1: true,
				like2: true,
				color: 'Blue',
				card: '5033-5544-3585',
				code: '585',
			};

			// Hipotetical function use with some buttons of the forms
			$scope.callMe = function () {
				console.log("Called");
			}
		});
		</script>
	</body>
</html>
