<pytangular formspec="theForm" values="values" model="bruh" apply-defaults="true">
</pytangular>

<script>
	"use strict;"
	var theForm = {$ form|json|safe $};
	var bruh = {est_participants: theForm.fieldsets[0].fields[1].options[0].value};
	console.log('theForm', theForm);
	var values = {};
</script>
