<pytangular formspec="formspec" fieldvalues="theForm.values"
	model="state"></pytangular>

<script>
	"use strict;"
	var formspec = {$ formspec|json|safe $};
	var state = {};
	// TODO The above vars belong inside theForm:
	var theForm = {
		values: {$ values|json|safe $},
		errors: {$ errors|json|safe $},
	};
</script>
